html,
body {
  font-family: "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ff5733, #f1c40f);
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.subheading {
  padding-top: 200px;
  padding-bottom: 50px;
}
.content-section {
  flex-grow: 1;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.image-gallery img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #2ecc71;
}

.Cajero {
    padding: 10px;
    width: 250px;
    height: 250px;
  
}
.Admin {
  padding: 10px;
  width: 250px;
  height: 250px;

}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

header nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}



